---
import CreationsSection from "../components/CreationsSection.astro";
import DescriptionSection from "../components/DescriptionSection.astro";
import MainSectionLanding from "../components/MainSectionLanding.astro";
import Navbar from "../components/Navbar.astro";
import SocialSection from "../components/SocialSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="LoopStudio">
  <main class="h-full relative">
    <MainSectionLanding />
    <DescriptionSection />
    <CreationsSection />
    <SocialSection />
    <Navbar />
  </main>
</Layout>
