---
import CreationCard from "./CreationCard.astro";
import Wrapper from "./Wrapper.astro";
---

<section class="bg-white mt-40">
  <Wrapper>
    <header class="flex items-center justify-between mb-8">
      <h2 class="text-2xl sm:text-4xl uppercase">Our creations</h2>
      <button
        class="border-2 border-black px-6 py-2 transition-opacity uppercase tracking-widest hover:bg-black hover:text-white"
        >See all</button
      >
    </header>

    <div
      class="w-full grid lg:grid-cols-4 md:grid-cols-3 m-auto justify-center gap-6 grid-cols-1"
    >
      <CreationCard
        title="Deep Earth"
        bgDesktopImg="md:bg-[url(../../public/image-deep-earth-desktop.jpg)]"
        bgMobileImg="bg-[url(../../public/image-deep-earth.jpg)]"
      />
      <CreationCard
        title="Night Arcade"
        bgDesktopImg="md:bg-[url(../../public/image-night-arcade-desktop.jpg)]"
        bgMobileImg="bg-[url(../../public/image-night-arcade.jpg)]"
      />
      <CreationCard
        title="Soccer Team VR"
        bgDesktopImg="md:bg-[url(../../public/image-deep-earth-desktop.jpg)]"
        bgMobileImg="bg-[url(../../public/image-deep-earth.jpg)]"
      />
      <CreationCard
        title="The Grid"
        bgDesktopImg="md:bg-[url(../../public/image-grid-desktop.jpg)]"
        bgMobileImg="bg-[url(../../public/image-grid.jpg)]"
      />
      <CreationCard
        title="From up above vr"
        bgDesktopImg="md:bg-[url(../../public/image-from-above-desktop.jpg)]"
        bgMobileImg="bg-[url(../../public/image-from-above.jpg)]"
      />
      <CreationCard
        title="Pocket Borealis"
        bgDesktopImg="md:bg-[url(../../public/image-pocket-borealis-desktop.jpg)]"
        bgMobileImg="bg-[url(../../public/image-pocket-borealis.jpg)]"
      />
      <CreationCard
        title="The curiosity"
        bgDesktopImg="md:bg-[url(../../public/image-curiosity-desktop.jpg)]"
        bgMobileImg="bg-[url(../../public/image-curiosity.jpg)]"
      />
      <CreationCard
        title="Make it fisheye"
        bgDesktopImg="md:bg-[url(../../public/image-fisheye-desktop.jpg)]"
        bgMobileImg="bg-[url(../../public/image-fisheye.jpg)]"
      />
    </div>
  </Wrapper>
</section>
