<div class="border-4 border-white mt-36 p-10 max-w-2xl font-thin">
  <h1 class="text-white flex flex-col text-4xl md:text-7xl uppercase">
    <span>Immersive</span>
    <span>Experiences</span>
    <span>That deliver</span>
  </h1>
</div>
