---
import HeaderLanding from "./HeaderLanding.astro";
import HeroLanding from "./HeroLanding.astro";
import NavLanding from "./NavLanding.astro";
---

<section
  class="h-screen bg-no-repeat bg-cover bg-stone-900/50 bg-blend-darken bg-[url('../../public/image-hero.jpg')] sm:bg-[url('../../public/image-hero-desktop.jpg')]"
>
  <HeaderLanding>
    <NavLanding />
    <HeroLanding />
  </HeaderLanding>
</section>
